@page
@{
}

<h2 class="text-center my-4">Add Reader</h2>

<form method="post" asp-action="Create">
    <label>Name</label>
    <input type="text" name="reader"/>

    <label>Email</label>
    <input type="email" name="email"/>

    <button type="submit">Save</button>
</form>

