@page
@using Application.Database.Readers
@{
}

<h2 class="text-center my-4">Add Reader</h2>

<form method="post" asp-action="Create">
    <label>Name</label>
    <input type="text" name="reader" oninput="this.value=this.value.replace(/[^a-zA-Z -]/g,'')" maxlength="@ReaderModel.NameMaxLength" />

    <label>Email</label>
    <input type="email" name="email" maxlength="254"/>

    <button type="submit">Save</button>
</form>

